* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:0;
}

body {
    background: #3B3B3B;
    background-image: url("../images/background-tile.png");
    background-repeat:repeat;
    margin: 0px;
}

#content-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: space-between;
}

header {
    background: #0D1E39;
    padding: 5px;
    margin: -10px;
}

.home-menu {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-content: center;
}

h1 {
    color: #ffffff;
    padding: 0 auto 0 auto;
    font-size: 50px;
}

.user-form {
  display: flex;
  align-items: center;
  
}

#userSearch {
  width: fit-content;
}

#gameSearch, #submit-btn{
    border-radius: 5px;
    height: 30px;
    padding: 5px;
    font-size: 16px;
}

#gameSearch {
  width:220px;
}

button:focus, input:focus {
  outline:none;
}

#submit-btn {
  color: #fff;
  background: #0078e7;
}
#submit-btn:hover {
  font-weight: bold;
}

.delete-btn-container {
  display:flex;
  height: 40px;
  width: 100%;
  justify-content: center;
}
#delete-btn {
  background-color: #AEA43F;
  color: #832621;
  font-weight: 900;
  border: 4px outset #832621;
  border-radius: 5px;
  padding: 0 10px 0 10px;
}
#delete-btn:hover {
  border-color: #AEA43F;
  background-color: #832621;
  color: #AEA43F;
  border-style: inset;
}

#top-ten {
  padding-bottom: auto;
  padding-top: 20px;
}

.tiles {
    background-image: linear-gradient(90deg, rgba(86,16,12,1) 35%, rgba(131,38,33,1) 100%);
    border-radius: 15px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-top: 5px;
    margin: 15px;
    block-size: 300px;
}

p {
    color: #AEA43F;
}

h2 {
    color: #AEA43F;   
}
.modal-title{
  color: black;
  float: none;
  
}
.modal {
  display: none;
  width: 600px;
  max-width: 100%;
  height: 400px;
  max-height: 100%;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  
  
  transform: translate(-50%, -50%);
  
  
  
  background: white;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}

.closed {
  display: block;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  
  background: rgba(0, 0, 0, 0.6);
}

.modal-guts {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 20px 50px 20px 20px;
  background: #3B3B3B;
  background-image: url("../images/background-tile.png");
}

.modal .close-button {
  position: absolute;
  
  /* don't need to go crazy with z-index here, just sits over .modal-guts */
  z-index: 1;
  top: 10px;
  
  /* needs to look OK with or without scrollbar */
  right: 20px;
  border: 0;
  background: #0D1E39;;
  color: white;
  padding: 5px 10px;
  font-size: 1.3rem;
}

.modal-title{
  color: #0D1E39;
  float: none;
  padding: 10px;
  font-weight: bolder;
  text-align: center;
}

#modal-review-title{
  color: #0D1E39;
  font-weight: bolder;
  font-family: "Verdana", sans-serif;
}

#review-author{
  color: #0D1E39;
  font-weight: bolder;
  font-family: "Verdana", sans-serif;
}

#modal-body p{
  color: #0D1E39;
  font-weight: bolder;
  font-family: "Verdana", sans-serif;
}

#modal-body{
  color: #0D1E39;
  font-weight: bolder;
}

a{
  text-decoration: none;
  font-family: "Verdana", sans-serif;
}

#game-card {
  border: 4px outset #AEA43F;
}

#main-card-image{
  width: 50%;
}


@media only screen and (max-width: 520px) {
  .home-menu {
    justify-content: center;
  }
}




