 .modal {
  display: none;
  
  width: 600px;
  max-width: 100%;
  
  height: 400px;
  max-height: 100%;
  
  position: fixed;
  
  z-index: 100;
  
  left: 50%;
  top: 50%;
  
  transform: translate(-50%, -50%);
  
 
  
  background: white;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}
.closed {
  display: block;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  
  background: rgba(0, 0, 0, 0.6);
}
.modal-guts {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 20px 50px 20px 20px;
}
.modal .close-button {
  position: absolute;
  
  z-index: 1;
  
  top: 10px;
  
  
  right: 20px;
  
  border: 0;
  background: black;
  color: white;
  padding: 5px 10px;
  font-size: 1.3rem;
}
.modal-title{
  color: black;
  float: none;
  padding: 10px;
}

.open-button {
  border: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: lightgreen;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 21px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #3B3B3B;
}

header {
    background: #0D1E39;
    padding: 5px;
    margin: -10px
}

h1 {
    color: #ffffff;
    float: right;
    margin-top: 0em;
}

.toph2 {
    color: #ffffff;
    text-align: left;
    display: block;
}

button {
    background: #0078e7;
    border-radius: 5px;
}

#gameSearch {
    border-radius: 5px;
}

#top-ten {
    padding-bottom: 430px;;
}

.tiles {
    background-image: linear-gradient(90deg, rgba(86,16,12,1) 35%, rgba(131,38,33,1) 100%);
    border-radius: 5%;
    border-radius: 15px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-top: 5px;
    margin: 15px;
    block-size: 300px;
}

p {
    color: #AEA43F;
}

h2 {
    color: #AEA43F;
    min-width: 100%;
    min-height: 25%;
}

.myfooter {
    background: #0D1E39;
    padding: 50px;
    margin: -10px
}
#main-card-image{
  width: 50%;
}


